body, html {
    margin: 1%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    height: 100%;
}
#h1_index {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  border-color: black;
}
#h2_index {
  color: antiquewhite;
}

#b_index:hover {
    cursor: pointer;
    border-color: gray;
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

#b_index: {
  color:black;
  text-align: center;
  margin: 8%;
  border-color: antiquewhite;
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
}

#b_index2:hover {
    cursor: pointer;
    border-color: gray;
    background-color: emerald;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#b_index2: {
  color:black;
  text-align: center;
  margin: 8%;
  border-color: orange;
  background-color: safety yellow;
  font-family: 'Courier New', Courier, monospace;
}
#footer_index: {
    color: antiquewhite;
    background-color: darkgray;
}

#div_index: {
    margin: 10px;
}
