body, html {
    margin: 1%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    height: 100%;
}
#h1_index {
  background-color: gray;
  text-align: center;
  border-color: black;
}
#h2_index {
  border-color: antiquewhite:
}
